<template>

<q-page >
  <div id="colu2" class="row">
    <div id="subcolu2">
      <h2>Marvel´s Heros</h2>
    </div>
  </div>
  <div  id="colu1" class="row" v-for='(character, index) in characters' :key='index'>
    <div id="subcolu1" class='character__container'>
        <img class='character__image' :src=" character.thumbnail.path + '.' + character.thumbnail.extension ">
      </div>
      <div id="subcolu1">
      <div  class='character__name'>
          {{ character.name }}
        </div>
        <div class='character__id'>
          {{"Marvel id: " + character.id }}
        </div>
        <div class='character__comicsitems'>
          {{"Stories : " + character.comics.available }}
        </div>
        <div class='character__comics'>
          {{"Number of comics she apears on: " + character.comics.available}}
        </div>
        <div class='character__desc'>
          {{ character.description }}
        </div>
        <div class='character__series' v-if="character.series.items.length > 0 ">
          <h3>Comics</h3>
          <ul v-for='(series, index) in characters.series.items' :key='index'>
            <li>{{serie.name}}</li>
          </ul>
        </div>
        <div class='character__comics' v-if="character.comics.items.length > 0 ">
          <h3>Comics</h3>
          <ul v-for='(comic, index) in characters.comics.items' :key='index'>
            <li>{{comic.name}}</li>
          </ul>
        </div>
        <div class='character__events' v-if="character.events.items.length > 0 ">
          <h3>Events</h3>
          <ul v-for='(events, index) in characters.events.items' :key='index'>
            <li>{{event.name}}</li>
          </ul>
        </div>
      </div>
  </div>
</q-page>
</template>

<style>
body{
  background: lightcoral;
}
.character__image {
  width: 12vw;
  height: auto;
}
#colu1 {
  padding: 7%;
  margin:2%;
  top:35%;
  width: 100vw;
  height: 15vh;
}
#colu2 {
  padding: 2%;
  padding-top:5%;
  margin:2%;
  top: 0%;
  width: 100vw;
  height: 10vh;
  text-align: center;
}
#subcolu1 {
  padding: 3%;
  margin-top: 3%;
}
</style>

<script>
export default {
  name: 'PageIndex',

  data: () => ({
    publicApiKey: '3f770230334489603a01960382017222',
    characters: []
  }),

  mounted () {
    console.log('Che')
    this.$axios.get('https://gateway.marvel.com:443/v1/public/characters?apikey=3f770230334489603a01960382017222')
      .then((res) => {
        console.log('Respuesta obtenida', res.data.data.results)
        this.characters = res.data.data.results
      })
      .catch((error) => {
        console.log('Algo malo pasó', error)
      })
  }
}
</script>
