<template>
<q-page >
  <form @submit.prevent="pedirpersonajes()">
    <q-input v-model="search"/>
    <q-btn label="Search" />
  </form>
  <div id="colu2" class="row">
    <div id="subcolu2">
      <h2>Marvel´s Heros</h2>
    </div>
  </div>
  <div  id="colu1" class="row" v-for='(character, index) in characters' :key='index'>
    <div id="subcolu1" >
        <img class='character__image' :src=" character.thumbnail.path + '.' + character.thumbnail.extension ">
      </div>
      <div id="subcolu1">
        <router-link :to='"characters/" + character.id'>{{ character.name }} </router-link>
        <div class='character__id'>
          {{"Marvel id: " + character.id }}
        </div>
        <div class='character__comicsitems'>
          {{"Stories : " + character.comics.available }}
        </div>
        <div class='character__comics'>
          {{"Number of comics she apears on: " + character.comics.available}}
        </div>
      </div>
  </div>
</q-page>
</template>

<style>
body{
  background: lightcoral;
}
.character__image {
  width: 12vw;
  height: auto;
}
.character__container {
  width: 12vw;
  height: auto;
}
#colu1 {
  padding: 7%;
  margin:2%;
  top:35%;
  width: 100vw;
  height: 15vh;
}
#colu2 {
  padding-left : 7%;
  padding-top:5%;
  margin:2%;
  height:12vh;
  text-align: center;
}
#subcolu1 {
  padding: 3%;
  margin-top: 3%;
}
</style>

<script>
export default {
  name: 'PageIndex',

  data: () => ({
    publicApiKey: '3f770230334489603a01960382017222',
    search: null,
    characters: []
  }),
  methods: {
    pedirpersonajes () {
      const config = {
        params: {
          apikey: this.publicApiKey
        }
      }

      if (this.search) {
        config.params.nameStartsWith = this.search
      }

      console.log('Che')
      this.$axios.get('https://gateway.marvel.com/v1/public/characters', config)
        .then((res) => {
          console.log('Respuesta obtenida', res.data.data.results)
          this.characters = res.data.data.results
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  },
  mounted () {
    this.pedirpersonajes()
  }
}
</script>
